<a href="<%= NrdbApi::Oauth.auth_uri() %>">Log In again to your new NRDB account to access the token for the API.</a>

<h1>Token Data</h1>
<div>
<pre>
<%= @token_data_json %>
</pre>
</div>

<h2>Expiration</h2>
<div>
Token Issued at <%= Time.at(@decoded_access_token[0]['iat'].to_i)%>
<br />
Token expires at <%= Time.at(@decoded_access_token[0]['exp'].to_i)%>
</div>
<div>
<a href="/refresh_token?refresh_token=<%= @refresh_token %>">Refresh Token</a>
</div>

<h2>Making Private API calls</h2>
Add the following header to your call to access private endpoints:

<pre>
Authorization: Bearer <%= @access_token %>
</pre>

<pre>
curl -v http://localhost:10000/api/v3/private/user -H 'Authorization: Bearer <%= @access_token %>' && echo ""
</pre>

<h2>Token Details</h2>
<div>
<pre><%= @decoded_access_token_json %></pre>
</div>
